.title{
    &_fz24{
        color: var(--Dark-Gray, #2A2D34);
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 800;
        line-height: 26px; /* 108.333% */
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
    &_fz36{
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 800;
        line-height: 36px; /* 100% */
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
    &_fz48{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
}