.map{
    margin-top: 100px;
    
    position: relative;
    &__triangle{
        
        &:nth-child(1){
            position: absolute;
            left: 0;
            top: 0;
        }
        &:nth-child(3){
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

}

