.text{
    &-base{
        color: #2A2D34;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
    &-2xl{
        color: var(--Dark-Gray, #2A2D34);
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 800;
        line-height: 26px; /* 108.333% */
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
    &-4xl{
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 800;
        line-height: 36px; /* 100% */
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
    &-5xl{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
}
